<div id="modal-sign-in" class="modal fade in" style="display: none;">
  <%= render "shared/form_sign_in" %>
</div>
<div id="modal-sign-up" class="modal fade in" style="display: none;">
  <%= render "shared/form_sign_up" %>
</div>